body {
	background-color: white;
}
div.text {
	font-size: 18px;
	font-family: Maven;
	max-width: 600px;
	text-align: left;
	float: left;
}

#frisbee {
	width: 25%;
	padding-left: 5%;
}

div.links {
	font-size: 18px;
}
