body {
	background-color: #E9ECF0;
	margin: 30px;
	background-color: white;
}

h1 {
	font-size: 35px;
	font-family: 'Raleway Light';
}

#name {
	text-align: center;
}


div.links {
	float: left;
	padding-top: 20px;
	font-family: Arvo;
	font-size: 25px;
	padding-right: 20px;
}

#photo {
	float: left;
	padding-left: 100px;
}
a {
	text-decoration: none;
	color: black;
}
