body {
	background-color: #E9ECF0;
	margin: 30px;
}

h1 {
	font-size: 35px;
	font-family: 'Raleway Light';
}

#name {
	text-align: center;
}

#photo {
	float: right;
	padding-right: 50px;
}

div.links {
	padding-top: 20px;
	text-align: center;
	font-family: Arvo;
	font-size: 25px;
}

a {
	text-decoration: none;
}
